<h1>Distributed Cloud Computing Platform</h1>

<h3>Your stats</h3>

<form id="p_form" action="" method="post">
	<div class="form-group">
		<label for="p_tool">"Video Converter":</label>
	</div>
	<div>
	  <div class="form-group">
		<a href="http://52.8.118.47:8080/static/infrastructure/hosts/1h1/containers">http://52.8.118.47:8080/static/infrastructure/hosts/1h1/containers</a>
	  </div>
	</div>
	<div class="form-group">
		<label for="p_tool">Usage stats</label>
		<p>Total CPU Usage: TODO</p>
		<p>Total Memory Usage: TODO</p>
		<p>Platforms Credits: TODO</p>
	</div>
	<input type="hidden" name="action" value="join">
</form>
