<h1>Distributed Cloud Computing Platform</h1>

<h3>What are you up to?</h3>

<div>
	<p>
		<a href="/start"><button type="button" class="btn btn-primary btn-lg" >Start a task</button></a>
		<a href="/join"><button type="button" class="btn btn-default btn-lg">Join a project</button></a>
		<a href="/stats"><button type="button" class="btn btn-default btn-lg">Your stats and contributions</button></a>
	</p>
</div>
